doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Admin Dashboard
    link(rel='stylesheet', type='text/css', href='/css/styles.css')
  body
    #main
      .headerContainer
        .logo
          | IHS Logo
        .headerButtons
          a(href='/adminView.html') Home
          a(href='/adminView.html') Preferences
          a(href='/adminView.html') Help
        .logout
          button(type='button')
            | Log Out
        .notification
          | [  ]
      .title
        h1 Dashboard
      .filter
        input(placeholder='filter By')
      br
      .ticketTable
        each val, index in json
          if index === 0
            .headrow.row
              .headColumn.col.ticketId
                | Ticket ID
              .headColumn.col.createdAt
                | Received
              .headColumn.col.address
                | Location
              .headColumn.col.description
                | Short Description
              .headColumn.col.status
                | Status
              .headColumn.col.username
                | Submitter
              .headColumn.col.phoneNumber
                | Phone #
              .headColumn.col.email
                | Email
              .headColumn.col.pictureCol
                | Picture
          else
            .row
              .col.ticketId
                | #{val.id}
              .col.createdAt
                | #{val.formatDate}
              .col.address
                | #{val.address}
              .col.description
                | #{val.description}
              .col.status
                form(action='/homeless/' + val.id + "/?_method=put", method="post")
                  div.input.statusInput
                    input.statusInput(type="text", name="refferalStatus_id", value=val.refferalStatus_id)
                  input.submitInput(type="submit")
              .col.username
                | #{val.name}
              .col.phoneNumber
                | #{val.phoneNumber}
              .col.email
                | #{val.email}
              .col.pictureCol
                a(href="/homeless/" + val.id + "/photo")
                  | Picture
      br
      br
      br
      br
      br
      .container
        h2 Homeless Map Tracker
        //- .options-box
        //-   h1 Toggle
        //-   div
        //-     input#show-listings(type='button', value='Show Listings')
        //-     input#hide-listings(type='button', value='Hide Listings')
        //- .destinations-box
        //-   input#origin-input.contorls(type='text', placeholder='Enter start location')
        //-   input#destination-input.controls(type='text', placeholder='Enter end location')
        //- select#mode-selector
        //-   option(value='DRIVING') Driving
        //-   option(value='WALKING') Walking
        #map
      script(type='text/javascript', src='/js/map.js')
      script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyCVY-LYZbEIkWbG78IjjFmBTRalFKfrIFg&v-3&callback=initMap')